@let weatherItem = weather$ | async;

@let weatherEarth = weatherOnEarth$ | async;

@if(weatherEarth) {
  <div>
    <p>Temperature: {{ weatherEarth.current.temperature_2m }}°C</p>
    <p>Wind Speed: {{ weatherEarth.current.wind_speed_10m }} m/s</p>
  </div>
}

@if (weatherItem) {
  <div>
    <p>{{ weatherItem | valueToWeatherText }}</p>
    <!-- @switch (weatherItem.value) {
      @case (1) {
        <p>Sunny</p>
      }
      @case (0) {
        <p>Mitigé</p>
      }
      @case (-1) {
        <p>Pluvieux</p>
      }

      @case (-100) {
        <p>Tempête</p>
      }
      @default {
        <p>Unknown weather condition</p>
      }
    } -->
  </div>
}


